<!doctype html>
<html>
	<head>
		<title>Your Name Here</title>
		<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="header">
			<div class="content">
				<img src="images/me.png" alt="Your Name Here" />
				<ul class="nav">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">About Me</a>
					</li>
					<li>
						<a href="contact.html">Contact Me</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="banner">
			<div class="content">
				<h1>Your Name Here</h1>
			</div>
		</div>
		<div class="content">

			<div class="column column-left">
				<img src="http://placekitten.com/g/350/240" alt="Kitten" />
				<h2>About Kittens</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>

			<div class="column column-center">
				<img src="http://placekitten.com/g/350/240" alt="Kitten" />
				<h2>About Kittens</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>

			<div class="column column-right">
				<!-- Twitter code goes in here -->
				<a class="twitter-timeline" width="199" height="400" href="https://twitter.com/GA" data-widget-id="517609742160498688">Tweets by @GA</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>

			<iframe class="youtube" width="960" height="540" src="http://www.youtube.com/embed/Q4mGfgJSvQw?rel=0" frameborder="0" allowfullscreen></iframe>

			<ul class="footer-nav">
				<li class="home">
					<a href="index.html">
						<div data-icon="h" class="icon"></div>
						Home
					</a>

				</li>
				<li class="about">
					<a href="about.html">
						<div data-icon="a" class="icon"></div>
						About
					</a>
				</li>
				<li class="contact">
					<a href="contact.html">
						<div data-icon="c" class="icon"></div>
						Contact
					</a>
				</li>
			</ul>

			<p class="footer">Copyright &copy; 2014 General Assembly</p>

		</div>
	</body>
</html>






